body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightpink;
    text-align: center;
    font-family: Arial, sans-serif;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}
.contenedor {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre la tarjeta y la imagen */
}
.tarjeta {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#btnNo {
    background-color: gray;
    color: white;
}
#btnSi {
    background-color: red;
    color: white;
}
.imagen {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}
